<!DOCTYPE html>
<footer>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <a href="https://linkedin.com/in/jari-oostrom-91bab1111" class="btn btn-primary" aria-label="Linkedin page" target="_blank">
        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
    </a>
    <a href="https://bitbucket.org/GLaDTheresCake/" class="btn btn-primary" aria-label="Bitbucket repository" target="_blank">
        <i class="fa fa-bitbucket-square fa-3x" aria-hidden="true"></i>
    </a>
    <p>Made by Jari Oostrom</p>
</footer>