<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="container">
    <h1>Welcome</h1>
    <br>
    <div id="main"></div>
</div>
<!-- scripts -->
{#<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>#}



{% block projects %}
        {% for project in projects %}
                <a href="{{ url_for('get_project', name=project.name) }}">{{ project.name }}
                </a>
            <br/>
        {% endfor %}
{% endblock %}
{% include 'footer.html' %}
</body>

</html>
