<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Flask React index</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    {% include 'footer.html' %}
  </body>
</html>
