<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
        <title> {{ project.name }} </title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
</head>
<body>
<div id="project">
    {% block description %}
        <div id="project_name">Name of project: {{ project.name }}</div><br/>
        <div id="start_date"> Start date project: {{ project.start_date }}</div><br/>
        <div id="end_date"> End date project: {{ project.end_date }}</div><br/>
        <div id="description"> Lorem ipsum dolor sit amet...</div>
        <div id="code_snippet"></div>
        </div>
    {% endblock %}
{% include 'footer.html' %}
</body>
</html>