$font-stack: Helvetica, sans-serif
$primary-color: #000000

footer
  text-align: right
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  a
    position: relative
    right: 40px
    padding-bottom: 5px
    top: 15px
  p
    position: relative
    right: 200px
    font: 125% $font-stack