body {
  position: relative;
  text-align: center;
  width: 100%; }
  body h1 {
    font: 200% Helvetica, sans-serif; }
  body ul {
    position: relative;
    left: -2%;
    top: 20px; }
    body ul li {
      position: relative;
      left: 48%;
      text-align: left; }

/*# sourceMappingURL=main.css.map */
