$font-stack:    Helvetica, sans-serif
$primary-color: #000000

body
  position: relative
  text-align: center
  width: 100%
  h1
    font: 200% $font-stack
  ul
    position: relative
    left: -2%
    top: 20px
    li
      position: relative
      left: 48%
      text-align: left